#hero {
    position: relative;
    background-color: black;
    height: 45vh;
    min-height: 22rem;
    width: 100%;
    overflow: hidden;
}

#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#hero .container {
    position: relative;
    z-index: 2;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 1;
}

#header {
    height: 120px;
}

.icon {
    margin: 1em;
    font-size: 1.8em;
}

.tech-icon {
    width: 80%;
    height: auto;
}

.bootstrap-icon {
  -webkit-filter: saturate(400%); /* Safari */
  filter: saturate(400%);
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('/assets/images/siwbackground.jpg') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}
